* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto 1fr auto;
    background-color: beige;
    width: 100%;
}
.container > app-header,
.container > app-footer {
    width: 100%;
    grid-column: 1/-1;
    padding: 5px;
}

.container > app-header{
    position: sticky;
    top:0;
    z-index: 1000;
}
.container > .content  {
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1em;
    min-height: 100vh;
    gap: 2rem;
}

.container > .content > app-main,
.container > .content > app-aside {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.container > .content > app-main {
    grid-column: span 3;
    grid-row:1/-1 ;
}
.container > .content > app-aside {
    position: sticky;
    grid-column: span 2;
    grid-row: 1/-1;
    max-height: calc(100vh - 200px);
    position: sticky;
    top: 120px; 
    left: 20px; 
    overflow-y: auto;
}

@media screen AND (max-width: 768px) {
    .container > .content > app-main,
    .container > .content > app-aside {

        grid-column: 1/6;
        grid-row:span 1;
    }
}